/* Webfont: Overpass-Bold */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Bold.eot'); /* IE9 Compat Modes */
    src: url('Overpass-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-Bold.woff') format('woff'), /* Modern Browsers */
         url('Overpass-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-Bold.svg#Overpass-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-BoldItalic */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Bold-Italic.eot'); /* IE9 Compat Modes */
    src: url('Overpass-Bold-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-Bold-Italic.woff') format('woff'), /* Modern Browsers */
         url('Overpass-Bold-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-Bold-Italic.svg#Overpass-BoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Reg */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Regular.eot'); /* IE9 Compat Modes */
    src: url('Overpass-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-Regular.woff') format('woff'), /* Modern Browsers */
         url('Overpass-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-Regular.svg#Overpass-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}


/* Webfont: Overpass-Italic */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Italic.eot'); /* IE9 Compat Modes */
    src: url('Overpass-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-Italic.woff') format('woff'), /* Modern Browsers */
         url('Overpass-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-Italic.svg#Overpass-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}


/* Webfont: Overpass-Light */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Light.eot'); /* IE9 Compat Modes */
    src: url('Overpass-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-Light.woff') format('woff'), /* Modern Browsers */
         url('Overpass-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-Light.svg#Overpass-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-LightItalic */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Light-Italic.eot'); /* IE9 Compat Modes */
    src: url('Overpass-Light-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-Light-Italic.woff') format('woff'), /* Modern Browsers */
         url('Overpass-Light-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-Light-Italic.svg#Overpass-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLight */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('Overpass-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-ExtraLight.woff') format('woff'), /* Modern Browsers */
         url('Overpass-ExtraLight.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-ExtraLight.svg#Overpass-ExtraLight') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLightItalic */@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ExtraLight-Italic.eot'); /* IE9 Compat Modes */
    src: url('Overpass-ExtraLight-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Overpass-ExtraLight-Italic.woff') format('woff'), /* Modern Browsers */
         url('Overpass-ExtraLight-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Overpass-ExtraLight-Italic.svg#Overpass-ExtraLightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

