.nojs .sample-line { display: none }
*{box-sizing: border-box ; max-width: 100vw;}
a{text-decoration:none}
body{margin:0; padding:0;
  overflow-x: hidden;
  overflow-y:scroll;;
  height: 100vh; top:0; right:0; bottom:0; left:0;
  position:absolute;
  font-family: Overpass,sans-serif ;max-width: 100vw; }

body:before{
  content:"";

  display:block;
  position: fixed;
  left:0;
  right:0;
  width: 100%;}

.empty{

  z-index:4;
  display:block;
  position: fixed;
  left:0;
  right:0;
  width: 100%;
  height:.35em;
  z-index:1;
  top: 10em;
  background-image:
  linear-gradient(rgba(0,0,0,0.1), transparent);

}
article, section{max-width: 100% }
.empty:after{z-index:-1;  content:"";
position:fixed; height: 6em;background-color:#396;
top:0; left:0;right:0;}

#about:checked ~ .empty:after{height:3em}
body:before{
  content:"";
  z-index:2;
  width: 100%;
  background-color: #4a7;
  top:0em;
  height: 3rem;}
/*buttons*/

.about-button{left:0; }

article input:checked + label{color:#000; box-shadow: 0 .1em }
.about-button,
.proportional-button,
.monospace-button{
  position:fixed;
  top:0;
  width: 33.3333333%;
  height: 3rem;
}


.proportional-button{
  left:33.33333%;
}

.monospace-button{

  left:66.6666666%;
  font-family: overpass-mono, monospace;
font-style:normal}

#type-sample{
  font-family: overpass, sans-serif;
  position:fixed;
  top: 6rem;
  max-width: 100%;
  appearance:none;
  font-size:2rem;
  outline:0;
  margin: 0 auto;
  transition: width .3s cubic-bezier(.4,.4,.2,1), left .3s cubic-bezier(.4,.4,.2,1);
  display:block;
  height:4rem;
  line-height:4rem;
  left: 0;
  width: 100%;
  letter-spacing:0;
  z-index:5;
  text-align:center;
  border: none;
  background-color: #fff;


  }

h1{
  color:#23292c;
  margin-top:0;
  line-height:1.2em;
  font-size: 10vw;
  font-weight: 900;
  text-align:center;
  margin:0;
  padding:  0}
.sample{text-align:center;}

   ::-webkit-input-placeholder {
      color: #aaa;
   }
   :-moz-placeholder { /* Firefox 18- */
      color: #aaa;
   }
   ::-moz-placeholder {  /* Firefox 19+ */
      color: #aaa;
   }
   :-ms-input-placeholder {
      color: #aaa;
   }




[for="variant-200"],
[for="variant-300"],
[for="variant-400"],
[for="variant-500"],
[for="variant-600"],
[for="variant-700"],
[for="variant-800"],
[for="variant-900"],
[for=variant-italic]{
  letter-spacing: -.05em;
  width: 10%;
  position:fixed;

  top: 3rem;
  height: 3rem;}

[for=variant-italic]{
  left:80%;
  width: 20% !important}

#variant-style-mono:checked ~ #type-sample{
  font-family: overpass-mono, monospace;
  font-style:normal !important; }

#variant-style-mono:checked ~ [for="variant-300"]{left:0; width: 25%;}
#variant-style-mono:checked ~ [for="variant-400"]{left:25%; width: 25%;}
#variant-style-mono:checked ~ [for="variant-500"]{left:50%; width: 25%;}
#variant-style-mono:checked ~ [for="variant-600"]{left:75%; width: 25%;}

[for="variant-200"]{left: 0%}
[for="variant-300"]{left:10%}
[for="variant-400"]{left:20%}
[for="variant-500"]{left:30%}
[for="variant-600"]{left:40%}
[for="variant-700"]{left:50%}
[for="variant-800"]{left:60%}
[for="variant-900"]{left:70%}


#variant-style-mono:checked ~ [for=variant-200],
#variant-style-mono:checked ~ [for=variant-200],
#variant-style-mono:checked ~ [for=variant-700],
#variant-style-mono:checked ~ [for=variant-800],
#variant-style-mono:checked ~ [for=variant-900],
#variant-style-mono:checked ~ [for=variant-italic]
{display:none}


.about { text-align:center;margin: 0 auto; }
article{display:none;padding-top: 12em;
}
/* hiding  monospace samples on standard select */



#variant-style-mono:checked  ~ .monospace-sample{
  display:block;}

/* hiding  standard samples on monospace select */

#variant-style-proportional:checked ~ .standard-sample{
    display:block}
#about:checked ~ #type-sample,
#about:checked ~ [for="variant-200"],
#about:checked ~ [for="variant-300"],
#about:checked ~ [for="variant-400"],
#about:checked ~ [for="variant-500"],
#about:checked ~ [for="variant-600"],
#about:checked ~ [for="variant-700"],
#about:checked ~ [for="variant-800"],
#about:checked ~ [for="variant-900"],
#about:checked ~ [for=variant-italic]{display:none}

#about:checked ~ .empty{top:3em; }

#about:checked ~ article.about{display:block;padding-top: 5rem}
.monospace-sample{
  font-family: overpass-mono, monospace;
  font-style: normal !important;
  background-color:#545a64;
  color: white}

article p:first-child{
  font-size: 6em;
  line-height:1em;
  width: 100%;
  overflow:hidden; max-width: 100%
  text-align:center;
  margin:0;}

h2{ width: 100%;
  color:#333;
  margin: 0;
  font-size: 4em;
  display:inline-block;
  line-height:1em;}

h2 span{font-style:normal}
h2 span, h2 i{
  min-width: 40%;
  text-align:center;
  display:inline-block;}

h2:before {
  content: attr(class);
  color:#ccc;
  display: block;
  font-size: .7rem;
  font-style: normal;
  font-weight: 400;
  vertical-align: bottom;
  margin-bottom:-2em;
  text-transform: uppercase;
}

body > label{  z-index:4; }
label {
  user-select: none;
  transition: all .3s ease;}


input[type="radio"],
input[type="checkbox"] {
  display: none;
}

input + label {
  cursor: pointer;
  display: block;
  padding: .5em 0;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color:#aaa;

  overflow:hidden;
}
body > input + label:before{
  content:"";
  background-color:transparent;
  position:absolute;
  display:block;
  top: 50%;
  z-index:-1;
  margin: 0 auto; left: 50%;
  margin-top: -3em;
  margin-left: -3em;
  border-radius: 50%;
  height: 6em;
  width: 6em;
  transform: scale(.01)}

body > input:checked + label:before{
  animation: flash .5s linear forwards;
}

input:checked + [for="variant-200"]:before,
input:checked + [for="variant-300"]:before,
input:checked + [for="variant-400"]:before,
input:checked + [for="variant-500"]:before,
input:checked + [for="variant-600"]:before,
input:checked + [for="variant-800"]:before,
input:checked + [for="variant-700"]:before,
input:checked + [for=variant-italic]:before,
input:checked + [for="variant-900"]:before{
  animation: mini-flash .5s linear forwards;

}

@keyframes flash{
  0%{transform: scale(.1)}
 60%{background-color:rgba(0,0,0,0.2);;  }
100%{transform: scale(8)}
}

@keyframes mini-flash{selectionselection
    0%{transform: scale(.1)}
   60%{background-color:rgba(0,0,0,0.2);  transform: scale(1)}
  100%{transform: scale(3)}
}
a{color:#37c}

body > input + label {
  background-color:#396;
  color:rgba(255,255,255,0.5);
  font-weight: 600;}
body > input:checked + label {
  color:#fff;
  background-color:#2c8c5c;

}

#variant-200:checked ~  article ,
#variant-200:checked ~  input {
  font-weight: 200}

#variant-300:checked ~  article ,
#variant-300:checked ~  input {
  font-weight: 300}


#variant-400:checked ~  article ,
#variant-400:checked ~  input {
  font-weight: 400}


#variant-500:checked ~  article ,
#variant-500:checked ~  input {
  font-weight: 500}


#variant-600:checked ~  article  ,
#variant-600:checked ~  input {
  font-weight: 600}


#variant-700:checked ~  article ,
#variant-700:checked ~  input {
  font-weight: 700}


#variant-800:checked ~  article  ,
#variant-800:checked ~  input {
  font-weight: 800}


#variant-900:checked ~  article  ,
#variant-900:checked ~  input{
  font-weight: 900}

.onion-skin text{transition: all .5s ease}

  #variant-200:checked ~  article .onion-skin text:nth-child(1),
  #variant-300:checked ~  article .onion-skin text:nth-child(2),
  #variant-400:checked ~  article .onion-skin text:nth-child(3),
  #variant-500:checked ~  article .onion-skin text:nth-child(4),
  #variant-600:checked ~  article .onion-skin text:nth-child(5),
  #variant-700:checked ~  article .onion-skin text:nth-child(6),
  #variant-800:checked ~  article .onion-skin text:nth-child(7),
  #variant-900:checked ~  article .onion-skin text:nth-child(8)
  { fill:currentcolor; }


  #variant-italic:checked + label,
  #variant-italic:checked + article .onion-skin text,
  #variant-italic:checked ~  article  ,
  #variant-italic:checked ~  input {
    font-style: italic
  }

#variant-italic + label {
  letter-spacing:.05em;
  width: 7em;

}






.sponsor {
  text-align:center;
   margin: 0 auto;
  padding-bottom: 4em; }
.sponsor svg{width: 304px;display:block; margin: 0 auto;}

footer svg path{fill:currentcolor}
footer a:hover svg path{fill:white}
footer{background-color:#23292c; color: #aaa; padding-top:5rem;padding-bottom:3rem; text-align:center;}
footer h4{font-weight: 400; margin-bottom:2em;text-transform: uppercase; letter-spacing:.1em;}

@media (max-width: 50em) {
  .award{width: 45% !important}
  .award:after, .award:before{display:none !important}

  .award svg{ height:1.3em !important; width: 80% !important;}
}
@media (max-width: 40em) {
  .cdn{display:none !important;}
  label span{font-size:.75em !important;  opacity:.7;}
}

.cdn label{
  display:inline-block;
  width : 100% ;
  height: 2em;
  line-height: 2em;
  padding:0;
  margin:0 ;}



.cdn input{
  display:inline-block;
  color: currentcolor;
  cursor: text;
  left: 10%;
  width: 80%; padding: .5em;
  background-color: transparent;
  font-size: 1em;
  line-height: 2em;
  height: 2em;
  font-family: overpass-mono, menlo, dejavu mono, monospace;
  font-style: normal;
  appearance: none;
  border:none;
  text-align:center;
  padding: 0 .15em}


.waterfall p{white-space: nowrap; margin: 1rem;; line-height:1em; overflow:hidden; }


.waterfall p:nth-child(2){font-size: 10rem}
.waterfall p:nth-child(3){font-size: 6rem}
.waterfall p:nth-child(4){font-size: 4rem}
.waterfall p:nth-child(5){font-size: 2rem}
.waterfall p:nth-child(6){font-size: 1rem}
.waterfall p:nth-child(7){font-size: .75rem}
.waterfall p:nth-child(8){font-size: .5rem}
.waterfall p:nth-child(9){font-size: .25rem}

}
.cdn-sponsor path{fill: currentcolor;}

.thin       { font-weight: 200  !important}
.extralight { font-weight: 300  !important }
.light      { font-weight: 400  !important}
.regular    { font-weight: 500  !important}
.semibold   { font-weight: 600  !important}
.bold       { font-weight: 700  !important}
.extrabold  { font-weight: 800  !important}
.heavy      { font-weight: 900  !important}

.sponsor{text-decoration:none}
.sponsor p{

    color: #fff;
    max-width: 19rem;
    display:inline-block;
    padding: .666em 1em;
    font-size: 1rem;
    font-weight: 600;text-transform: uppercase;
    letter-spacing: .079em;
    background-color: #c00;
    text-decoration:0;
}


.award{position:relative;width: 24%; font-size: 2em; opacity:.5; }
.award svg{width: 50%; height: 3rem;color: white;}

.award:after,
.award:before {
  content: "";
  margin-bottom:-.5em;
  display: inline-block;
  width: 1.4em;
  height: 2.5em;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 50'%3E%3Cpath fill='%23592' d='M16.2 2c-2.2 2-5 5-2 7.8C16 8.8 17 5 16 2zm.8 6c4 0 5.6-2 7-5-3.2 0-6.4 1-7 5zm-6.3 8c3-3 2-6 .6-9-1.7 3-3 6-.6 9zM22 8c-3 0-8.2 1.8-7 4.3 1.6 1 5-1.3 7-4.3zM8 14c-.5 3-.6 5.8 2.6 7.2 1-3.2-.3-5.2-2.6-7.2zm4 5c3.7 0 5-3 6-6-3 1-6 2-6 6zm-6.4 1c.5 3 2.2 6.7 4.7 5.6C11 23 8.5 21 5.5 20zM16 18c-2.7 2-5.5 4.7-4 7.5 2-.7 4-3.5 4-7.5zm-5 13c0-4-3-5-6-6 1 3 2.4 6 6 6zm4.6-7c-2.6 2-5 4-3.3 7 2.5.2 3.5-4 3.3-7zm-9.2 7c1.4 3 4.2 5.5 6.7 4.5 0-3.3-3-4.5-6.3-4.5zm8.3 5c3.5-1 3-5 2-8-2 3-4.5 4.7-2 8zm-5.4 1c2 2 6.3 5 8 3-.2-3.2-4.8-4-8-3zm9.4-5c-1 3-2.7 6.5 1 8.3 1.6-1.5.7-5.3-1-8.3zM13 42c2.6 2 7.3 3.5 8 1.2-1.5-2.2-5-2.2-8-1.2zm13 2c1-4-2-5-5-7 .6 4 1.5 7 5 7zm-8.4 2c2.8 2 7.6 3.5 8.6.4-2-2.5-5.7-2.4-8.6-.4z' /%3E%3C/svg%3E");
}

.award.alternate:before, .award.alternate:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='65' height='135' viewbox='0 0 65 125'%3E%3Cpath fill='%23962' d='M66.4 126l2.1-4C13.5 102 6.3 49 55 6.7-5.4 55 18.4 106 66.4 126zM59 17c-7-4-18 1-20 5 6 2 15-1 20-5zm-8 9c-6-4-15 1-19 6 6 1 13-2 19-6zM27 41c8 2 14-1 19-7-8-3-14 2-19 7zm14 2c-8-3-14 3-18 9 2 4 14-3 18-9zm-3 9c-9-1-15 7-17 11 2 4 13-4 17-11zM21 75c9-1 13-5 16-13-9 0-12 6-16 13zm19.4-4.1c-10 0-17 10.6-15 13.6 1 2 13-4.6 15-13.6zm.6 8.9c-7 1-11.8 7.2-12.8 12.2 3 1 12-4.3 12.8-12.2zm-7.3 19.9c6 0 11.4-6.9 11.4-13.9-7 2-11.4 10.2-11.4 13.9zM43 108c6 0 10.2-15 5.2-17-4 3-7.2 17-5.2 17zm8 10c9.8-9 8.1-20 3-20-5 10-5 10-3 20zm-23.1 2c2.9 9 19.8 5 21.9-4-7-3-14.5 5-21.9 4zm-8.6-3c5 0 18.7 1 21.7-9-4 0-20.7-1-21.7 9zm14.5-15c-11.7-7.9-19-2-23.2-2 5.2 10 17.2 3 23.2 2zm-7.2-9.5c-5-4-15.5-11.4-22.29-4.4 4.78 4 17.29 10.5 22.29 4.4zM2.6 74C7 79 20 87 22 83c-1-4-12-14-19.4-9zm1.9-15C7.3 67 16 74 19 71c0-4-4-14-14.5-12zm5-15C8.1 55 18 58 21 57c0-3-2-12-11.5-13zM16 32c0 6 3 16 8 16 0-5 1-15-8-16zm8-13c-2 7-1 18 4 19 2-6 4-16-4-19zM36 8c-4 7-3 13-1 19 2-4 6-12 1-19zm10-9.12C41 4.9 39 10 42 18c2-3 8-12.8 4-19.12zM49 12c7 0 15-2 17-10.1-8-.1-13 .9-17 10.1z' /%3E%3C/svg%3E");
}

.award:after {
  transform: scaleX(-1);
}

.award {
  filter: grayscale(1) brightness(1);
  display: inline-block;
  line-height: 3em;
  white-space: nowrap;

}
.award:after, .award:before {
  fill: currentcolor;
  display: inline-block;
  width: 1.5em;
  transition: all 0.3s cubic-bezier(0.3, 0.7, 0.1, 1.5);
}

.award:hover {
  filter: none;
  opacity: 1;
}
.award:hover:before {
  transform: scale(1.1) rotate(-12deg) translate(0.25em, 0);
}
.award:hover:after {
  transform: rotate(12deg) scale(1.1) scaleX(-1) translate(0.22em, 0) !important;
}

a, label{-webkit-tap-highlight-color: rgba(255, 255, 255, 0);}
::-moz-selection { color:white; background: #4a7; }
::selection { color:white; background: #4a7 ;  }


.button{display:inline-block; padding: .3em 1em; border-radius: .3em; background-color: #4a7; color:#fff;}

article section{display:none}
#carousel-3:checked ~ .variants{display:block}

#carousel-1:checked ~ .waterfall{display:block}
#carousel-2:checked ~ .glyphs{display:block}

article{text-align:center;}
article > label{
  margin-top: 1em;
  display:inline-block; width: 30%; position:relative; overflow: hidden;}

article, section, .glyph-chart, .glyph-chart div{user-select:none}

.glyph-chart div{display: inline-block;  width: 1.5em; text-align:center;}

.glyph-chart div{cursor: default; font-size: 3em; transition: transform .15s cubic-bezier(.2,.4,.2,1.2) .12s;}
.glyph-chart div:hover{transform:scale(4); z-index:5; background-color:white; color:black;box-shadow: 0 .05em .2em rgba(0,0,0,0.4)}





.onion-skin text {
  font-family: overpass;
  text-align: center;
  font-size: 80px;
  fill: none;
  stroke: currentcolor;
  stroke-width: .2px;
  opacity: .5;
}
.onion-skin text:nth-child(1) {
  font-weight: 200;
}
.onion-skin text:nth-child(2) {
  font-weight: 300;
}
.onion-skin text:nth-child(3) {
  font-weight: 400;
}
.onion-skin text:nth-child(4) {
  font-weight: 500;
}
.onion-skin text:nth-child(5) {
  font-weight: 600;
}
.onion-skin text:nth-child(6) {
  font-weight: 700;
}
.onion-skin text:nth-child(7) {
  font-weight: 800;
}
.onion-skin text:nth-child(8) {
  font-weight: 900;
}



.sample-2 {
  margin:0;margin-top:2em;
  perspective: 60vw;
  font-family: Overpass, sans-serif;
  text-align: center;
  color: #285;
  background-color: #eee;
  font-size: 9vw;
  padding: 0.5em 0 1em 0;
  overflow: hidden;
}

.sample-2 .letter span:nth-child(1n) {
  animation-delay: 1.06667s;
}

.sample-2 .letter span:nth-child(2n) {
  animation-delay: 1.13333s;
}

.sample-2 .letter span:nth-child(3n) {
  animation-delay: 1.2s;
}

.sample-2 .letter span:nth-child(4n) {
  animation-delay: 1.26667s;
}

.sample-2 .letter span:nth-child(5n) {
  animation-delay: 1.33333s;
}

.sample-2 .letter span:nth-child(6n) {
  animation-delay: 1.4s;
}

.sample-2 .letter span:nth-child(7n) {
  animation-delay: 1.46667s;
}

.sample-2 .letter span:nth-child(8n) {
  animation-delay: 1.53333s;
}

.sample-2 .letter span:nth-child(9n) {
  animation-delay: 1.6s;
}

.sample-2 .letter span:nth-child(10n) {
  animation-delay: 1.66667s;
}

.sample-2 .letter span:nth-child(11n) {
  animation-delay: 1.73333s;
}

.sample-2 .letter span:nth-child(12n) {
  animation-delay: 1.8s;
}

.sample-2 .letter {
  margin: .26em 0;
  line-height: 1em;
  padding: 0;
}

@keyframes effect {
  15% {
    transform: translate(0, 0.75em) rotateX(75deg) scale(0.9) rotate(1deg);
    color: #eee;
    text-shadow: 0 -0.025em rgba(0, 0, 0, 0.2);
  }
  40% {
    transform: none;
    text-shadow: 0 1.25em 0 transparent;
    transform: none;
    color: currentcolor;
  }
}
.sample-2 .letter span {
  min-width: .3em;
  transform-origin: 50% 100%;
  display: inline-block;
  animation: effect 6s cubic-bezier(1, 0, 0, 1.1) infinite;
  text-shadow: 0 1.5em 0 rgba(0, 0, 0, 0.015);
}


.sample-3 {
  background-color:#545a64;
  perspective: 60vw;
  font-size: 6vw;
  text-align: center;
  padding: 2rem;
  font-family: Overpass, sans-serif;
  color: #aaa;
}
.sample-3 h3 {
  padding: 0.25em 0;
  margin:0;
}

.sample-3 .letter span:nth-child(1n) {
  animation-delay: 1.2s;
}

.sample-3 .letter span:nth-child(2n) {
  animation-delay: 1.4s;
}

.sample-3 .letter span:nth-child(3n) {
  animation-delay: 1.6s;
}

.sample-3 .letter span:nth-child(4n) {
  animation-delay: 1.8s;
}

.sample-3 .letter span:nth-child(5n) {
  animation-delay: 2s;
}

.sample-3 .letter span:nth-child(6n) {
  animation-delay: 2.2s;
}

.sample-3 .letter span:nth-child(7n) {
  animation-delay: 2.4s;
}

.sample-3 .letter span:nth-child(8n) {
  animation-delay: 2.6s;
}

.sample-3 .letter span:nth-child(9n) {
  animation-delay: 2.8s;
}

.sample-3 .letter span:nth-child(10n) {
  animation-delay: 3s;
}

.sample-3 .letter span:nth-child(11n) {
  animation-delay: 3.2s;
}

.sample-3 .letter span:nth-child(12n) {
  animation-delay: 3.4s;
}

.sample-3 .letter span:nth-child(13n) {
  animation-delay: 3.6s;
}

.sample-3 .letter span:nth-child(14n) {
  animation-delay: 3.8s;
}

.sample-3 .letter span:nth-child(15n) {
  animation-delay: 4s;
}

.sample-3 .letter span:nth-child(16n) {
  animation-delay: 4.2s;
}

.sample-3 .letter span:nth-child(17n) {
  animation-delay: 4.4s;
}

.sample-3 .letter span:nth-child(18n) {
  animation-delay: 4.6s;
}

.sample-3 .letter span:nth-child(19n) {
  animation-delay: 4.8s;
}

.sample-3 .letter span:nth-child(20n) {
  animation-delay: 5s;
}

.sample-3 .letter span {
  animation: fadeit 4s linear infinite;
  margin: .1em 0;
  line-height: 1em;
  padding: 0;
}

@keyframes fadeit {
  12% {
    font-weight: 200;
    color: #ccc;
  }
  24% {
    font-weight: 300;
  }
  36% {
    font-weight: 400;
  }
  48% {
    font-weight: 500;
  }
  60% {
    font-weight: 600;
  }
  72% {
    font-weight: 700;
  }
  84% {
    font-weight: 800;
  }
  96% {
    font-weight: 900;
    color: #fff;
  }
}


@media (min-width: 70em){
  .sample-2{font-size: 5vw}
  .sample-3{font-size:3vw}
}
